@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #e9f8ff, #abbed3, #d2e0ef);
}
/* Custom styling */

:root {
  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-900: #171923;
  --primary-light: #e9f2ff;
  --primary: #0c66e4;
  --primary-dark: #09326c;
  --error-light: #ffedeb;
  --error: #ef5c48;
  --error-dark: #ae2a19;
  --success-light: #dffcf0;
  --success: #4bce97;
  --success-dark: #216e4e;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.loader {
  display: block;
  position: relative;
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid var(--gray-100);
  border-top-color: var(--gray-400);
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
